{% extends "dashboard.html" %} {% block title %}Overview{% endblock %} 
{% block content%}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Overview</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">
                <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
            </div>
        </div>
    </div>

    <label>{{ url }}</label>

    <h2>Sitemap</h2>
    <div class="table-responsive" style="height: 500px; overflow-y: auto;">
        <table class="table align-middle table-striped table-bordered">
            <thead>
                <tr>
                    <th scope="col">URL</th>
                    <th scope="col">Status code</th>
                </tr>
            </thead>
            <tbody>
                {% for item in sitemap %}
                <tr>
                    <th>{{ item[0] }}</th>
                    <td>{{ item[1] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</main>

{% endblock %}