{% extends "dashboard.html" %} {% block title %}Phase 2{% endblock %}
{% block content%}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Metadata Check</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">
                <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
            </div>
        </div>
    </div>
    {% if webtech is not none %}
        <h2>Web technologies</h2>
        <div class="table-responsive">
            <table class="table align-middle table-striped table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Versions</th>
                        <th scope="col">Categories</th>
                    </tr>
                </thead>
                <tbody>
                    {% for key, value in webtech.items() %}
                    <tr>
                        <th>{{ key }}</th>
                        <td>{{ value['versions'] }}</td>
                        <td>{{ value['categories'] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}    
</main>
{% endblock %}